{% import "template.njk" as template %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <p>Hola Index</p>
  <p><a href="/carpeta/subcarpeta/archivo.html">Mira archivo</a></p>
  <p>Mira mi nunjucks: {{ template.holaMundo }}</p>
</body>
</html>